Lab2(2)/Web References/net.azurewebsites.hadslife2/CoordinatorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDedicación">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDedicaciónResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerDedicaciónResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDedicaciónSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDedicación" />
  </wsdl:message>
  <wsdl:message name="ObtenerDedicaciónSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDedicaciónResponse" />
  </wsdl:message>
  <wsdl:portType name="CoordinatorServicesSoap">
    <wsdl:operation name="ObtenerDedicación">
      <wsdl:input message="tns:ObtenerDedicaciónSoapIn" />
      <wsdl:output message="tns:ObtenerDedicaciónSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoordinatorServicesSoap" type="tns:CoordinatorServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDedicación">
      <soap:operation soapAction="http://tempuri.org/ObtenerDedicación" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoordinatorServicesSoap12" type="tns:CoordinatorServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDedicación">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDedicación" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoordinatorServices">
    <wsdl:port name="CoordinatorServicesSoap" binding="tns:CoordinatorServicesSoap">
      <soap:address location="http://hadslife2.azurewebsites.net/CoordinatorServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CoordinatorServicesSoap12" binding="tns:CoordinatorServicesSoap12">
      <soap12:address location="http://hadslife2.azurewebsites.net/CoordinatorServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>