Lab2(2)/Web References/net.azurewebsites.hadslife21/FuerzaPass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckStrength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStrengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckStrengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckStrengthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckStrength" />
  </wsdl:message>
  <wsdl:message name="CheckStrengthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckStrengthResponse" />
  </wsdl:message>
  <wsdl:portType name="FuerzaPassSoap">
    <wsdl:operation name="CheckStrength">
      <wsdl:input message="tns:CheckStrengthSoapIn" />
      <wsdl:output message="tns:CheckStrengthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FuerzaPassSoap" type="tns:FuerzaPassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStrength">
      <soap:operation soapAction="http://tempuri.org/CheckStrength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FuerzaPassSoap12" type="tns:FuerzaPassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStrength">
      <soap12:operation soapAction="http://tempuri.org/CheckStrength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuerzaPass">
    <wsdl:port name="FuerzaPassSoap" binding="tns:FuerzaPassSoap">
      <soap:address location="http://hadslife2.azurewebsites.net/FuerzaPass.asmx" />
    </wsdl:port>
    <wsdl:port name="FuerzaPassSoap12" binding="tns:FuerzaPassSoap12">
      <soap12:address location="http://hadslife2.azurewebsites.net/FuerzaPass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>